backports
pbkrtest
tmvnsim
bgsmtr
BiocManager
broom
bslib
caret
cBioPortal/cgdsr
ComplexHeatmap
ConsensusClusterPlus
corrgram
cowplot
DESeq2
devtools
dplyr
DT
feather
GGally
ggcorrplot
ggplot2
ggpubr
ggrepel
ggthemes
glmnet
gplots
grImport2
HH
igraph
hazimehh/L0Learn
limma
magrittr
matrixStats
Metrics
networkD3
NMF
olsrr
openxlsx
org.Hs.eg.db
paletteer
patchwork
pathview
pheatmap
plotly
plotmo
processx
psych
Rcpp
RColorBrewer
reshape
reshape2
rmarkdown
rtracklayer
Rtsne
survival
survminer
svglite
tidymodels
tidyr
tidyverse
DO.db
tinyarray
usethis
